# a playbook that install docker
- name: install basic packages
  become: yes
  apt:
    pkg:
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common
    state: present
    update_cache: true

- name: add docker GPG keys to hosts
  become: yes
  shell: "{{ item }}"
  loop:
    - sudo install -m 0755 -d /etc/apt/keyrings
    - sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
    - sudo chmod a+r /etc/apt/keyrings/docker.asc

- name: Add the repository to apt source
  become: yes
  shell: |
    sudo tee /etc/apt/sources.list.d/docker.sources <<EOF
    Types: deb
    URIs: https://download.docker.com/linux/ubuntu
    Suites: $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}")
    Components: stable
    Signed-By: /etc/apt/keyrings/docker.asc
    EOF

- name: install docker
  become: yes
  apt:
    name: "{{ item }}"
    state: present
    update_cache: true
  loop: 
    - docker-ce 
    - docker-compose

- name: start docker service
  become: yes
  service:
    name: docker
    state: started
    enabled: true

- name: adding user to docker group
  become: yes
  user:
    name: "{{ ansible_user_id }}"
    groups: docker
    append: yes