---
  - name: Cloning app repo and running it with docker compose
    hosts: app_servers
    vars_files:
      - vars/spring_env.yml

    pre_tasks:
      - name: Gather package facts
        ansible.builtin.package_facts:
          manager: auto  

      - name: install docker if not installed
        include_tasks:
          file: docker.yml
        when: "not 'docker-ce' or not 'docker-compose' in ansible_facts.packages"

    tasks:
      - name: testing tasks
        debug:
          msg: "env var: {{ test_var }}"

      - name: cloning project repo
        git:
          repo: git@github.com:kon-bikas/post-backend.git
          dest: "{{ app.directory }}"
          version: "{{ app.branch }}"
          force: yes
          accept_hostkey: true
      
      # - name: compose down existing services
      #   community.docker.docker_compose_v2:
      #     project_src: "{{ app.directory }}"
      #     state: absent
      #     files:
      #       - docker-compose.spring.yml

      - name: compose down existing services
        command: docker compose -f docker-compose.spring.yml down
        args:
          chdir: "{{ app.directory }}"

      - name: authenticate to ghcr.io
        shell: echo {{ docker_secret }} | docker login ghcr.io -u {{ gh_user }} --password-stdin

      # # - name: starting the app with docker compose
      # #   community.docker.docker_compose_v2:
      # #     project_src: "{{ app.directory }}"
      # #     state: present
      # #     files:
      # #       - docker-compose.spring.yml

      - name: compose up services
        command: docker compose -f docker-compose.spring.yml up
        args:
          chdir: "{{ app.directory }}"