---
  - name: Cloning app repo and running it with docker compose
    hosts: app_servers
    vars_files:
      - vars/spring_env.yml

    pre_tasks:
      - name: Gather package facts
        ansible.builtin.package_facts:
          manager: auto  

      - name: install docker if not installed
        include_tasks:
          file: docker.yml
        when: "not 'docker-ce' or not 'docker-compose' in ansible_facts.packages"

      - name: cloning project repo
        git:
          repo: git@github.com:kon-bikas/post-backend.git
          dest: "{{ app.directory }}"
          version: "{{ app.branch }}"
          force: yes
          accept_hostkey: true

      - name: creating keycloak ssl certificates
        shell: >
          openssl req -newkey rsa:2048 -nodes
          -keyout keycloak-server.key.pem -x509 -days 3650
          -out keycloak-server.crt.pem -subj "/C=GR/ST=Attiki/L=Athens/O=MyOrg/OU=IT/CN=mydomain.com"
        args:
          chdir: "{{ app.directory }}/keycloak"

      - name: compose down existing services
        command: docker compose -f docker-compose.spring.yml down
        args:
          chdir: "{{ app.directory }}"

      - name: authenticate to ghcr.io
        shell: echo {{ docker_secret }} | docker login ghcr.io -u {{ gh_user }} --password-stdin

      - name: pull latest docker images from ghcr.io
        command: docker compose -f docker-compose.spring.yml pull
        args:
          chdir: "{{ app.directory }}"

      - name: compose up services
        command: docker compose -f docker-compose.spring.yml up -d
        args:
          chdir: "{{ app.directory }}"