---
  - name: Cloning app repo and running it with docker compose
    hosts: app_servers

    tasks:
      # - name: Debug GitHub SSH access
      #   command: ssh -T git@github.com

      - name: cloning project repo
        git:
          repo: git@github.com:kon-bikas/postr-backend.git
          dest: "{{ app.directory }}"
          version: "{{ app.branch }}"
          force: yes
      
      # - name: compose down existing services
      #   community.docker.docker_compose_v2:
      #     project_src: "{{ app.directory }}"
      #     state: absent
      #     files:
      #       - docker-compose.spring.yml

      # - name: authenticate to ghcr.io
      #   shell: echo {{ docker_secret }} | docker login ghcr.io -u {{ gh_user }} --password-stdin
      #   register: res

      # - name: display res
      #   debug:
      #     msg: "{{ res }}"

      # - name: starting the app with docker compose
      #   community.docker.docker_compose_v2:
      #     project_src: "{{ app.directory }}"
      #     state: present
      #     files:
      #       - docker-compose.spring.yml