---
  - name: Update spring image in kubernetes cluster
    hosts: localhost
    vars:
      k8s_namespace: default
      container_name: postr-container
      deployment_name: spring-deployment
    
    tasks:
      - name: Update spring container image with newer version
        kubernetes.core.k8s:
          namespace: "{{ k8s_namespace }}"
          kind: Deployment
          name: "{{ deployment_name }}"
          definition:
            spec:
              template:
                spec:
                  containers:
                    - name: "{{ container_name }}"
                      image: "{{ new_image }}"
